<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.opgenorth.yeg.buildings"
          android:versionCode="16"
          android:versionName="1.9.0.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />

    <!-- IMPORTANT: Remember to set debuggable to "false" for release! -->
    <application android:icon="@drawable/icon"
                 android:debuggable="true"
                 android:description="@string/app_description"
                 android:label="@string/app_name">
        <uses-library android:name="com.google.android.maps"/>
        <!--<service android:name=".util.HttpTextDownloader" />-->
        <activity android:name=".views.BuildingMap" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.BuildingMap" android:label="@string/app_name"/>
        <!--<activity android:name=".views.BuildingList" android:label="@string/buildinglist_title"/>-->
        <provider android:name=".data.BuildingsContentProvider" android:authorities="net.opgenorth.yeg.buildings"/>
    </application>
</manifest>

